h1 {
    font-family: 'Inder', sans-serif;
    color: #1f2937;
    font-weight: 400; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin: 20px 0;
    margin-bottom: 20px; 
}

table {
    font-family: 'Inter', sans-serif;
    width: 70%; 
    margin: 0 0 0 20px; 
    border-collapse: collapse;
}

    th {
        font-family: 'Inter', sans-serif;
        font-weight: 500; 
        background-color: #1f2937;
        color: white;
        padding: 12px;
        text-align: left;
}

td {
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    tr:nth-child(even) {
    background-color: #f9f5f0;
}

    tr:hover {
    background-color: #f0e6d6;
}



.table-container {
    margin: 0 auto;
    float: none;
}

.coffee-header-img {
    width: 224%; 
    max-width: 1800px; 
    height: auto; 
    max-height: 300px; 
    object-fit: cover; 
    margin: 0; 
    display: block; 
    border-radius: 8px; 
    margin-bottom: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
div.mt-3 p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    margin-bottom: 5px;
    padding: 12px;
}